body {
    font-family: Helvetica, Arial;
}

#linkpaste {
    min-width: 85%;
    font-family: Courier;
    background: #F7F7F7;
    margin: 1em auto;
    padding: 1em 1em 1em;
    border: 1px solid #DDD;
}

h2 {
    font-weight: 100;
}

#cde {
    min-width: 85%;
    height: 25px;
    padding: 0.2em;
    margin: 1em auto;
}

.block {
    padding-top: 1em;
    margin-bottom: 1em;
}

#but {
    background: #32A4D6;
    color: #fff;
    font-family: Roboto, Arial;
    padding: 5px 5px;
    cursor: pointer;
    margin: 0em auto 1em;
    display: block;
    width: 10em;
    clear: both;
    font-size: larger;
}

iframe {
    margin: 0em auto 1em;
    display: block;
    position: relative;
    max-width: 100%;
}
