a
{
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	text-decoration:none;
	transition:all 0.5s;
}

body
{
	font-family:'Cormorant', serif;
	font-size:48px;
}
p {
  color: white;
  font-family: Georgia;
  font-size: 3em;
  text-shadow: none;
  transition: all 500ms ease;
}
p:hover {
   text-shadow: 0 0 7px #f6d000;
}

/*RESPONSIVE*/
@media (max-width: 650px) {
    #container {
        width: 100%;
    }
    p {
        font-size: 3.5em;
    }
}

.closebtn a
{
	font-size:120px;
	position:absolute;
	right:45px;
	top:-45px;
}

.overlay a
{
	color:#fff;
	display:block;
}

a:hover, a:focus
{
	-moz-animation:neon5 0.5s ease-in-out infinite alternate;
	-webkit-animation:neon5 0.5s ease-in-out infinite alternate;
	animation:neon5 0.5s ease-in-out infinite alternate;
	color:#f6d000;
}

.overlay
{
	background-color:rgba(0,0,0,0.5);
	height:0;
	left:0;
	overflow-y:hidden;
	position:fixed;
	top:0;
	transition:0.5s;
	width:100%;
	z-index:1;
}

.overlay-content
{
	text-align:center;
}